* {
    padding: 0;
    margin: 0;
}

body {
    width: 100%;
    height: 100%;
    max-height: 100%;
    overflow: hidden;
    margin: 0;
    padding: 0;
    border: 0;
    background-color: #000;
}

.game-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    text-align: center;
    pointer-events: none;
    z-index: 20;
 }

 .game-content {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    transform: translate(-50%, -50%);
    pointer-events: auto;
    color: #fff;
 }

 .game-content > div {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
 }

 #game-title {
    font-size: 72px;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 20px;
 }

 .game-start-button {
   color: #000;
   margin: 10px;
   border-radius: 5px;
   cursor: pointer;
   font-size: 48px;
   font-weight: bold;
   text-transform: uppercase;
   border: 0;
   width: 400px;
}

#game-download-button {
   background-image: url('../img/cloud1.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% auto;
   opacity:0.8;
}

#game-download-button:hover {
   background-image: url('../img/cloud1.png');
   opacity:1;

}


#game-retry-button {
   background-image: url('../img/cloud2.png');
   background-repeat: no-repeat;
   background-position: center;
   background-size: 100% auto;
   opacity:0.8;
}

#game-retry-button:hover {
   background-image: url('../img/cloud2.png');
   opacity:1;

}

 @media screen and (max-width: 768px) {
    #game-title {
        font-size: 48px;
    }
    .game-start-button {
        font-size: 32px;
        width: 250px;
    }
 }

 #game-over {
    display: none;
    background: rgba(0, 0, 0, 0.75);
 }

 #game-hand {
    position: absolute;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    pointer-events: none;
    animation: translateXHand 1.2s infinite;
 }

 #game-hand img {
    width: 100%;
    height: 100%;
 }

 @keyframes translateXHand {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.4);
    }

    100% {
        transform: scale(1);
    }
}

#game-over-button-group {
   display: flex;
   flex-direction: column;
   align-items: center;
}

#game-over-button-group button {
   margin-bottom: 20px;
}

#game-win {
   max-width: 300px;
}

#cadre {
   padding: 40px 30px;
   background-image: url("../img/cadre.png");
   background-repeat: no-repeat;
   background-position: center;
   background-size: auto 100%;

   animation: zoom 1.2s infinite;
}

@keyframes zoom {
   0% {
       transform: scale(1);
   }

   50% {
       transform: scale(1.1);
   }

   100% {
       transform: scale(1);
   }
}